@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family:  "Roboto", sans-serif;
    font-size: 14px;
    overflow: hidden;
    #container{
      margin: 0px;
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      header{
        margin: 0px;
        padding: 0px;
        background-color: rgb(112, 204, 204);
      }
      nav{
        margin: 0px;
        padding: 0px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            list-style-type: none;
            align-items: baseline;
            .pageLink{
                margin: 5px;
                font-family: "Indie Flower", serif;
                font-size: 2rem;
                flex: 1;
                a{
                    color: #f0f8ff;
                    text-decoration: none;
                }
            }
            li{
                margin: 5px;
                font-size: 1.1rem;
                font-weight: 400;
                flex: 0.11;
                a{
                    text-decoration: none;
                    padding: 10px;
                    color: #234e74;
                }
                :hover{
                    background-color: rgb(29, 141, 141);
                    border-radius: 6px;
                    color: #f0f8ff;
                }
            }
        }   
      }
      main{
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        .postsGrid{
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
            h1{
              font-size: 2rem;
              width: 100%;
            }
            h2{
              font-size: 1rem;
              width: 100%;
              padding-bottom: 15px;
            }
            .postCards{
              padding: 8px;
              width: 350px;
              border-radius: 6px;
              background-color: #f7e493;
              border-bottom: 8px solid #d6b629;
              img{
                width: 100%;
                height: auto;
                border-radius: 6px;
              }
              h3{
                font-size: 1.4rem;
                font-family: "Indie Flower", serif;
              }
              a{
                color: #234e74;
                text-decoration: none;
              }
            }

        }
        .projectsGrid{
          margin: 10px;
          padding: 10px;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-content: center;
          align-items: baseline;
          h1{
            margin: 0 0 8px 0;
            padding: 0;
            font-family: "Indie Flower", serif;
            font-size: 2rem;
            width: 100%;
            text-align: center;
          }
          h2{
            margin: 0 0 25px 0;
            padding: 0;
            font-size: 0.9rem;
            width: 100%;
            text-align: center;
            font-weight: 400;

          }
          .projectCards{
            padding: 10px;
            width: 350px;
            border-radius: 6px;
            background-color: #da95d4;
            border-bottom: 8px solid #aa56a3;
            h3{
              margin: 0px;
              padding-bottom: 2px;
              font-size: 1.4rem;
              border-bottom: 2px solid #000000;
            }
            a{
              color: #000000;
              text-decoration: none;
            }
            .projectDetails{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;
              span{
                padding: 5px 10px 0 0;
                font-size: 0.8rem;
                font-weight: 500;
              }
            }
            p{
              padding: 0px;
            }
            .projectTags{
              margin: 10px;
              display: flex;
              justify-content: space-between;
            }
          }
        }
        .singlePost{
          margin: 0px;
          width: 60%;
          padding: 10px;
          header{
            margin: 0px;
            padding: 0px;
            background-color: #fff;
            h1{
              margin-bottom: 5px;
              padding: 0px;
              font-family: "Indie Flower", serif;
              font-size: 2rem;
            }
            img{
              width: 100%;
              height: auto;
              border-radius: 6px;
            }
            span{
              font-size: 0.9rem;
              font-weight: bold;
            }
          }
        }
        #homePage{
            background: url("../assets/background.jpg") no-repeat fixed center;
            background-size: cover;
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            .welcomeMessage{
                margin: 10px;
                padding: 10px;
                width: 500px;
                background: rgba(255, 255, 255, 0.6);
                border-radius: 6px;
                text-align: center;
                font-family: "Indie Flower", serif;
                font-size: 2.6rem;
            }
        }
      }
      footer{
        margin: 0px;
        padding: 15px;
        width: 100%;
      }
    }
    }